html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul {
  list-style: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.column12 {
  width: 100%;
  height: auto;
  float: left;
}

.column11 {
  width: 91.66667%;
  height: auto;
  float: left;
}

.column10 {
  width: 83.33333%;
  height: auto;
  float: left;
}

.column9 {
  width: 75%;
  height: auto;
  float: left;
}

.column8 {
  width: 66.66667%;
  height: auto;
  float: left;
}

.column7 {
  width: 58.33333%;
  height: auto;
  float: left;
}

.column6 {
  width: 50%;
  height: auto;
  float: left;
}

.column5 {
  width: 41.66667%;
  height: auto;
  float: left;
}

.column4 {
  width: 33.33333%;
  height: auto;
  float: left;
  padding: 20px;
}

.column3 {
  width: 25%;
  height: auto;
  float: left;
}

.column2 {
  width: 16.66667%;
  height: auto;
  float: left;
}

.column1 {
  width: 8.33333%;
  height: auto;
  float: left;
}

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fontsFlaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 40px;
  font-style: normal;
  margin-right: 135px;
}

.flaticon-skyline:before {
  content: "\f100";
}

.flaticon-sketch:before {
  content: "\f101";
}

.flaticon-city:before {
  content: "\f102";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
}

.row {
  margin-top: 25px;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

nav::after {
  content: "";
  clear: both;
  display: block;
}

.logo {
  float: left;
}

nav {
  float: right;
}

nav ul li {
  list-style: none;
  display: inline;
  padding: 15px;
}

.wrapper_banner {
  background-image: url("../images/banner/home-banner.jpg");
  background-position: center;
  background-size: cover;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

header {
  padding: 20px;
  margin-bottom: 80px;
}

img {
  position: relative;
}

.banner_img img {
  height: 350px;
  left: 273px;
  top: 2px;
}

.profile {
  position: relative;
  top: 30px;
}

.profile p {
  width: 553px;
}

.profile::first-line {
  font-weight: bold;
  color: #010814;
}

.about_section {
  padding: 120px 283px;
}

.service_section {
  text-align: center;
  background-color: rgba(168, 168, 168, 0.13);
  padding: 120px 283px;
}

.service_section p {
  text-align: center;
}

.service_section .column4 p {
  text-align: left;
}

.colorcol {
  background-color: #ffffff;
  border: 10px solid rgba(168, 168, 168, 0.13);
}

.project_section {
  text-align: center;
  padding: 120px 283px;
}

.project_section nav {
  padding: 30px;
  float: initial;
}

.project_section p {
  text-align: center;
}

.project_section img {
  height: 225px;
  width: 225px;
}

.project_section .row:nth-child(2) {
  margin-top: 0px;
}

.project_section .column4 {
  padding: 0px;
}

.project_section .column4 h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  bottom: 58px;
  left: 20px;
}

.project_section .column4 p {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  position: relative;
  left: 20px;
  bottom: 52px;
}

footer {
  background-color: #010814;
  padding: 30px 283px;
}

footer .column4 {
  padding: 20px;
}

footer h4 {
  color: #ffffff;
}

footer input {
  width: 166px;
}

footer ::-webkit-input-placeholder {
  font-size: 12px;
}

footer :-ms-input-placeholder {
  font-size: 12px;
}

footer ::-ms-input-placeholder {
  font-size: 12px;
}

footer ::placeholder {
  font-size: 12px;
}

footer button {
  text-align: center;
  display: inline-block;
  padding: 3px 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#8490ff), to(#62bdfc));
  background-image: linear-gradient(90deg, #8490ff, #62bdfc);
  color: #ffffff;
  border-radius: 0px;
  margin-top: 0px;
  border: none;
  position: relative;
  right: 5px;
}

button {
  text-align: center;
  display: inline-block;
  padding: 10px 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#8490ff), to(#62bdfc));
  background-image: linear-gradient(90deg, #8490ff, #62bdfc);
  color: #ffffff;
  border-radius: 5px;
  margin-top: 5px;
  border: none;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  color: gray;
  font-size: 14px;
  text-align: left;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: left;
}

i {
  padding: 5px;
  color: rgba(102, 101, 101, 0.767);
}
